@tailwind base;
@tailwind components;
@tailwind utilities;

.primary{
    color: #FE1885;
}
.bg-primary{
    background-color: #ff0e7e;
}

.contain-card{
    transition: all 0.2s;
}

.contain-card:hover{
    transform: scale(1.03);
}
.no-events{
    pointer-events: none;
}

.events{
    pointer-events: all;
}

.steps {
    box-sizing: border-box;
    /* padding: 10px 40px; */
    margin: auto;
    overflow: auto;
}

.steps::-webkit-scrollbar {
    display: none;
}

.steps {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

.comeOut {
    animation: comeOut 0.2s linear forwards;
}

.comeOn {
    animation: comeOn 0.2s linear forwards;
}

@keyframes comeOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-50px);
        opacity: 0;
    }
}

@keyframes comeOn {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.button.hidden {
    display: none;
}

@media screen and (max-width: 700px){
    .steps{
        width: 100%;
        height: 100%;
    }
}